@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans");

body {
  color: #333333;
  font-family: "Open Sans", sans-serif;
}

div#container {
  max-width: 800px;
  margin: auto;
}

div#header {
  border-bottom: 1px solid #eee;
}

a {
  color: #333333;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

div#result {
  display: flex;
  flex-direction: column;
}

div.result-item {
  display: flex;
  padding: 4px;
}

div.result-item:hover {
  background-color: #f4f4f4;
}

div.result-item span.tag {
  display: inline-block;
  min-width: 15%;
  text-align: start;
}

div.result-item span.content {
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
  flex-grow: 5;
}

div.result-item span.date {
  display: inline-block;
  min-width: 15%;
  text-align: end;
}

input {
  background: #eee;
  border: 0;
  padding: 8px;
}

input:focus {
  outline: none;
}

input#read-line {
  display: block;
  width: 100%;
  font-size: 1.5em;
  margin: auto;
}

.title {
  font-family: "Indie Flower", cursive;
  text-align: center;
}

.hint {
  text-align: center;
}

.highlight {
  background-color: yellow;
}
