/* Color palette */

$blue: #7da0b6;
$red: #d16b63;
$yellow: #f7c774;
$green: #bfc276;
$warm-grey: #908785;
$monotonic-grey: #666666;
$cornflower: #6b94ff;
$grey1: #666463;
$grey2: #8f8a89;
$grey3: #dedcdc;
$grey4: #f4f4f4;
$grey5: #fafafa;
$white: #ffffff;
$blue-grey: #8a97a3;